language: go
os: linux
dist: xenial
sudo: required
go: 1.13.6

branches:
  only:
    - dev
    - feature/integrate-travisCI  

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
      - gcc-7

env: CC="gcc-7" CXX="g++-7" OS="linux" CGO_CXXFLAGS="-g -rdynamic -std=c++17 -o -pthread"
jobs:
  include:
    - stage: build
      script: ./build-server.sh
    - stage: test
      script: ./test.sh
    - stage: push-docker-registry
      script:
        - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        - docker build -t zpx-godbee .
        - docker tag zpx-cannon $DOCKER_USER/zpx-godbee:latest
        - docker push $DOCKER_USER/zpx-godbee:latest
